$text-color: #9597a5;
$dark-text-color: #2d314d;
$green: #30c88f;
$gradient-bg: linear-gradient(135deg, #33d35e 0%, #2ab6d9 100%);
$gradient-bg-hover: linear-gradient(135deg, rgba(51, 211, 94, 0.4) 0%, rgba(42, 182, 217, 0.4) 100%);
