.site-header {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__toggler {
  display: none;
}

@include breakpoint-down (850px) {
  // VARIANT A - MENYU PASTGA TUSHIB OLADI

  // .site-header {
  //   padding-top: 15px;
  // }


  // VARIANT B - MENYU BERKINIB OLADI

  .site-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .site-header__container {
    justify-content: flex-start;
  }

  .site-header__logo {
    margin-right: auto;
  }

  .site-header__toggler {
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../img/toggler-open.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 44px;
    height: 44px;
    margin-left: 20px;

    // .site-header--open & {
    //   background-image: url("../img/toggler-close.svg");
    // }


    // AGAR HOVERDA O'ZGARISHI KERAK BO'LSA
    // &:hover {
    //   background-image: url("../img/toggler-close.svg");
    // }
  }

  .site-header--open .site-header__toggler {
    background-image: url("../img/toggler-close.svg");
  }
}
