.site-header {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__sitenav {
  max-width: 756px;
}

.site-header__toggler {
  display: none;
}

@include breakpoint-down (850px) {
  // VARIANT A - MENYU PASTGA TUSHIB OLADI

  // .site-header {
  //   padding-top: 15px;
  // }


  // VARIANT B - MENYU BERKINIB OLADI

  .site-header {
    padding-top: 15px;
    padding-bottom: 15px;

    &--nojs {
      position: relative;
    }
  }

  .site-header__container {
    justify-content: flex-start;
  }

  .site-header__logo {
    margin-right: auto;
  }

  .site-header--nojs .site-header__logo {
    margin-bottom: 15px;
  }

  .site-header__sitenav {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 74px);
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);

    .site-header--open & {
      display: block;
    }
  }

  // .site-header--open .site-header__sitenav {
  //   display: block;
  // }

  .site-header--nojs .site-header__sitenav {
    order: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: auto;
    background: none;
  }

  .site-header__toggler {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    margin-left: 20px;
    background-color: transparent;

    // VARIANT A
    // background-image: url("../img/toggler-open.svg");
    // background-repeat: no-repeat;
    // background-position: center center;

    // VARIANT B
    background-image: url("../img/toggler-bg.png");
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;

    // .site-header--open & {
    //   background-image: url("../img/toggler-close.svg");
    // }


    // AGAR HOVERDA O'ZGARISHI KERAK BO'LSA
    // &:hover {
    //   background-image: url("../img/toggler-close.svg");
    // }
  }

  // VARIANT A - BOSHQA RASMGA ALISHTIRISH
  // .site-header--open .site-header__toggler {
  //   background-image: url("../img/toggler-close.svg");
  // }

  // VARIANT B - BIR BUTUN RASMNING BIR BO'LAGINI KO'RSATISH
  .site-header--open .site-header__toggler {
    background-position: -44px 0;
  }

  .site-header--nojs .site-header__toggler {
    display: none;
  }
}

@include breakpoint-down (650px) {
  .site-header__container {
    justify-content: space-between;
  }

  .site-header--nojs .site-header__container {
    justify-content: center;
  }

  .site-header__logo {
    padding: 10px;
    margin: 0;
  }

  .site-header__button {
    display: none;
  }
}
